<div class="flex justify-center h-screen items-center overflow-hidden">
  <div class="container">
<div class="cover" [ngClass] = "{'rotate-active' :isRegister}">
<div class="front">
<img src="https://images.pexels.com/photos/5907626/pexels-photo-5907626.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
<div class="text">
  <span class="text-1">
    Share ,Savor and Create : Your Recipe Haven Awaits!
  </span>
  <span>
    Let's get connected
  </span>
</div>
</div>
<div class="back">
<img src="https://images.pexels.com/photos/3771106/pexels-photo-3771106.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
</div>
</div>

<div class="form h-full">
<div class="form-content h-full">
<div class="login-form">
<h1 class="text-lg font-bold text-center pb-8">Signup</h1>

<form  [formGroup] ="registrationForm"
(ngSubmit) ="handleRegister()" class="">
  <div class="mb-4">
    <mat-form-field class="w-full">
      <mat-label class="text-gray-200">Full Name</mat-label>
      <input matInput placeholder="Full Name"
     formControlName="fullName"
      class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-form-field class="w-full">
      <mat-label class="text-gray-200">Email</mat-label>
      <input matInput placeholder="email"    formControlName="email"
      class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-form-field class="w-full">
      <mat-label class="text-gray-200">Password</mat-label>
      <input matInput placeholder="password" formControlName="password"
      class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
    </mat-form-field>
  </div>
  <div class="mb-4">

  </div>
  <div>
    <button class="w-full" mat-raised-button color="primary" type="submit">
      Signup
    </button>
  </div>
</form>
<div class=" flex items-center gap-2 justify-center mt-9">
  have a account ? <button (click) ="toggledPanel()" mat-button color="primary">Signin</button>
 </div>
</div>

<div class="signup-form">
  <h1 class="text-lg font-bold text-center pb-8">Login</h1>
  <form  [formGroup] ="loginForm"
  (ngSubmit) ="handleLoginForm()" class="">
    <div class="mb-4">
      <mat-form-field class="w-full">
        <mat-label class="text-gray-200">Email</mat-label>
        <input matInput placeholder="email"    formControlName="email"
        class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
      </mat-form-field>
    </div>
    <div class="mb-4">
      <mat-form-field class="w-full">
        <mat-label class="text-gray-200">Password</mat-label>
        <input matInput placeholder="password" formControlName="password"
        class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
      </mat-form-field>
    </div>
    <div class="mb-4">

    </div>
    <div>
      <button class="w-full" mat-raised-button color="primary" type="submit">
        Login
      </button>
    </div>
  </form>
  <div class=" flex items-center gap-2 justify-center mt-9">
   Dont't have account ? <button (click) ="toggledPanel()" mat-button color="primary">Signup</button>
  </div>
  </div>
</div>
</div>
  </div>
</div>
