<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="https://www.shutterstock.com/shutterstock/photos/149083895/display_1500/stock-vector-male-avatar-profile-picture-vector-149083895.jpg" alt="">
    <mat-card-title>{{recipe.user.fullName}}</mat-card-title>
    <mat-card-subtitle>Code with Rohit</mat-card-subtitle>
  </mat-card-header>
  <img class="max-h-[400px] object-cover"
  mat-card-image
  src="https://www.shutterstock.com/shutterstock/photos/149083895/display_1500/stock-vector-male-avatar-profile-picture-vector-149083895.jpg"
   alt="Photo of a food">
  <mat-card-content>
    <p>
     Thsisdnkj dhakhfoih kjbcu hfcuhjkajsbd djkahahjkbkj kbkjahh
    </p>
  </mat-card-content>
  <mat-card-actions class="flex justify-between" >
   <div>
    <button mat-icon-button  aria-label="Example icon button with a home icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button (click) ="handleOpenEditRecipe()" mat-icon-button  aria-label="Example icon button with a home icon">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button  aria-label="Example icon button with a home icon">
      <mat-icon>share</mat-icon>
    </button>
   </div>
   <div>
    <button mat-icon-button  aria-label="Example icon button with a home icon">
      <mat-icon>delete</mat-icon>
    </button>
   </div>
  </mat-card-actions>
</mat-card>
