<h1 class="text-center pt-5">Update Recipe :{{data.id}} </h1>
<form (ngSubmit) ="onSubmit()" class="w-[27rem] p-6 rounded-lg shadow-md">
  <div class="mb-4">
    <mat-form-field class="w-full">
      <mat-label class="text-gray-200">Title</mat-label>
      <input matInput placeholder="title" value="data.title" name="title"
      [(ngModel)] = "data.title"
      class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-form-field class="w-full">
      <mat-label class="text-gray-200">Description</mat-label>
      <input matInput placeholder="description" value="recipeItem.description" name="description"
      [(ngModel)] = "data.description"
      class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-form-field class="w-full">
      <mat-label class="text-gray-200">Image</mat-label>
      <input matInput placeholder="image url" value="recipeItem.image" name="image"
      [(ngModel)] = "data.image"
      class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-radio-group [(ngModel)] ="data.bagitarian" aria-label="Select an option " value="data.bagitarian" name="foodType">
      <mat-radio-button [value]= true>Vegetrain</mat-radio-button>
      <mat-radio-button [value]=false>Non Vegetrain</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <button mat-raised-button color="primary" type="submit">
      Update
    </button>
  </div>

</form>

